.modal {
  padding: 20px;

  .modal-header {
    text-align: center;
    position: relative;

    h3 {
      font-size: 1.05rem;
      color: @red;
      font-weight: 700;
      margin: 10px auto 30px;
    }

  }

  i.close-modal {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    color: @red;
  }
}
