.red {
    color: red;
}
.green {
    color: green;
}

div#countdown {
  max-width: 180px;
  margin: 0 auto;
}

div.progressbar-text {
  border: 0;
  font-size: 2em;
  text-shadow: 0 0 2px white;
}

#timerContainer {
  text-align: center;
}

#timerModeDisplay {
  padding: 20px;
  font-weight: bold;
  font-size: 1.2em;
}
#tomatoImage {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 0px;
    margin: 0px;
    transform: translate(-50%, -50%);
    height: 148px; /* I don't know why, but the countdown box is 4px taller than wide. this 4px offsets that */
    width: 140px;
    color: rgb(255, 0, 0);
}
#tomatoImage::after {
  content: "";
  background-repeat: no-repeat;
  background-size: 140px 140px;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.red #tomatoImage::after {
  background-image: url('images/tomato-red.png');
}
.green #tomatoImage::after {
  background-image: url('images/tomato-green.png');
}
